/*
Applies the proper colors and proper colors for all the transitions
*/
button {
    background-color: ghostwhite;
}

button:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
    transition-duration: 2s;
}
